html body{
    background-color:#e2bef1;
    overflow:hidden;
  }
  .navbar{
  display: flex;
   }
   @media(max-width:620px){
    .navbar1{
      display: block;
    }
    img{
      min-width:200px;
    }
  }
  @media(max-width:900px){
    .d{
      display: flex;
      flex-direction: column;
    }
  }
  @media(max-width:768px){
    .x{
      margin:0;
      width:100%;
    }
    .x1{
      
      margin:auto;
    }
  }
  li a{
    font-family: 'Roboto';
    font-size: large ;
    color:white; 
    text-decoration: none;
  }
  .cover{
    display:flex;
    justify-content: center;
     box-shadow: 12px 12px 2px 1px rgba(241, 76, 167, 0.575);
  }